<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arondaniel.lolpickshelp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activitys.HomeScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declaração da atividade de busca (search activity) -->
        <activity android:name=".Activitys.ChampionsSearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".Activitys.ChampionSelectionActivity" />
        <activity android:name=".Activitys.MakeANoteActivity" />
        <activity android:name=".Activitys.ChampionScreenActivity" />
        <activity android:name=".Activitys.AddChampionNote" />
        <activity android:name=".Activitys.AddChampionCounterActivity"></activity>
    </application>

</manifest>